<div class="padding" style="padding: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
      <h1>PACMAN</h1>
      <button type="button" (click)="this.logout()" class="btn btn-dark" id="rbutton">Logout</button>
      </div>
      <div class="col-md-6 text-center">
      <div class="game">
        <div class="grid"></div>
        <div class="info">
          <div class="start">Start</div>
          <div class="infoBox"></div>

          <p>Score: <span class="score">0</span></p>
          <p>Timer: <span class="timer">0</span></p>
          <p>Life: <span class="life">3</span></p>
          <div class="table">
            <p>TopScore:</p>
            <p class="highScore"></p>
          </div>
          <p class="label">Controls</p>
          <div class="controls">
            <div class="up">↑</div>
            <div class="sideways">
              <div class="left">←</div>
              <div class="right">→</div>
            </div>
            <div class="down">↓</div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>